@import url('./time.css');

html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

div {
    content: '';
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 50%;
}

div.clicked {
    background-color: black;
}

.body-change {
    background-color: blueviolet;
}