section {
    display: none;
    align-items: center;
    justify-content: center;
}

.ballEmpty {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgb(168, 87, 245) 0%, rgb(138, 43, 226) 50%, rgb(49, 2, 94) 100%);
    overflow: hidden;
}

.ballSeconds,
.ballMinutes,
.ballHours {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(0, rgb(49, 2, 94), #000000);
}

p {
    position: absolute;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 5;
    display: flex;
    width: 100%;
}

span {
    margin: 0 auto !important;
    font-size:3rem;
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: 'Oswald', sans-serif;
}

.dblclick {
    display:none;
}

.ballsActive {
    display: flex;
    gap: 10px;
}

